body
    margin: 0
    padding: 0
    font-family: 'helvetica'
    header
        width: 100%
        nav
            width: 80%
            margin: 0 auto
            min-height: 70px
            background-color: #fff
            ul
                float: right
                margin: 0
                display: flex
                li
                    list-style: none
                    padding: 0 20px
                    a
                        text-decoration: none
                        color: #000
                        font-size: 17px
                        line-height: 70px
                        display: block
        .logo
            font-size: 25px
            font-weight: bold
            line-height: 70px
            display: inline-block
            p
                margin: 0
    main
        width: 100%
        background: url("img/fotosaya.jpg") -170px
        height: 500px
        margin-top: 0
        .heroes
            width: 100%
            height: 500px
            z-index: 1
            button
                width: 150px
                height: 50px
                background: #E34646
                border: none
                outline: none
                color: #fff
                display: block
                margin: 10px auto
            h1
                width: 80%
                margin: 0 auto
                padding-top: 4em
                color: #fff
                text-align: center
                font-size: 35px
            p
                width: 80%
                margin: 20px auto
                color: #fff
                text-align: center
                font-size: 18px
    article
        .about
            margin: 50px auto
            width: 80%
            text-align: center
            line-height: 1.8
            h3
                color: #e34646
                font-size: 25px
    .kontainer-1
        width: 100%
        padding: 2em 0
        background: #EDEBEB
        .boxes
            width: 80%
            margin: 0 auto
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-gap: 20px
            img
                width: 100%
                height: auto
            p
                font-size: 16px
                line-height: 1.5
                text-align: justify
            h3
                text-align: center
        h2
            text-align: center
            margin-top: 0
            color: #e34646
    footer
        width: 100%
        min-height: 50px
        padding: 1em 0
        text-align: center
        h4
            color: #e34636
        p
            padding: 10px 0
            margin: 0
            display: block
        button
            border-radius: 10px
            padding: 3px 5px
            background-color: #000
            a
                color: #fff
                text-decoration: none
        section
            padding: 15px 0
            margin: 0 auto
            width: 20%
            display: grid
            grid-template-columns: repeat( 3, 1fr )
            img
                margin: 0 auto
        .like
            font-size: 12px
            color: #828282

.active
    font-weight: bold
    a
        color: #E34646
nav
    ul
        a
        :hover
            color: #e34646


@media screen and ( max-width: 780px )
    body
        header
            nav
                width: 100%
                ul
                    float: none
                    margin: 0
                    display: block
                    padding: 0
                    li
                        a
                            text-align: center
                    .active
                        border-bottom: 2px solid #b53c3c
            .logo
                width: 100%
                p
                    margin: 0 auto
                    text-align: center
        main
            .heroes
                h1
                    font-size: 27px
                    padding: 6em 0 0
                p
                    font-size: 16px
                    letter-spacing: 1px
                    line-height: 1.5
                button
                    width: fit-content
                    padding: 0 20px
                    display: block
                    margin: 0 auto
        article
            .about
                width: 100%
                div
                    width: 80%
                    margin: 0 auto
                    p
                        font-size: 16px
                        line-height: 1.5
        .kontainer-1
            .boxes
                grid-template-columns: 1fr
                .box
                    img
                        width:60%
                        display: block
                        margin: 0 auto
                    p
                        width: 60%
                        display: block
                        margin: 0 auto
        footer
            section
                width: 35%