body
    margin: 0
    padding: 0
    font-family: 'helvetica'
    header
        width: 100%
        nav
            width: 80%
            margin: 0 auto
            min-height: 70px
            background-color: #fff
            ul
                float: right
                margin: 0
                display: flex
                li
                    list-style: none
                    padding: 0 20px
                    a
                        text-decoration: none
                        color: #000
                        font-size: 17px
                        line-height: 70px
                        display: block
        .logo
            font-size: 25px
            font-weight: bold
            line-height: 70px
            display: inline-block
            p
                margin: 0
    /*background here*/
    main
        width: 100%
        background: url("img/fotosaya.jpg") -170px
        height: 500px
        margin-top: 0
        .heroes
            width: 100%
            height: 500px
            z-index: 1
            button
                width: 150px
                height: 50px
                background: #E34646
                border: none
                outline: none
                color: #fff
                display: block
                margin: 10px auto
            h1
                width: 80%
                margin: 0 auto
                padding-top: 4em
                color: #fff
                text-align: center
                font-size: 35px
            p
                width: 80%
                margin: 20px auto
                color: #fff
                text-align: center
                font-size: 18px
    article
        .about
            margin: 50px auto
            width: 80%
            text-align: center
            h3
                color: #e34646
                font-size: 25px
    .kontainer-1
        width: 100%
        padding: 2em 0
        background: #EDEBEB
        .boxes
            width: 80%
            margin: 0 auto
            display: grid
            grid-template-columns: repeat(3, 1fr)
            grid-gap: 20px
            img
                width: 100%
                height: auto
            p
                font-size: 16px
                text-align: center
                line-height: 1,5
            h3
                text-align: center
        h2
            text-align: center
            margin-top: 0
            color: #e34646
    footer
        width: 100%
        min-height: 50px
        padding: 1em 0
        text-align: center
        p
            padding: 10px 0
            margin: 0
            display: block
        button
            border-radius: 10px
            padding: 3px 5px
            background-color: #000
            a
                color: #fff
                text-decoration: none
        div
            box-sizing: border-box
            width: 40%
            margin: auto
            ul
                margin-left: 88px
                list-style: none
                display: flex
                li
                    padding: 0 15px
        .like
            font-size: 14px
            color: #828282

nav
    .active
        a
            font-weight: bold
            color: #E34646
        :hover
            color: #e34646